<!--
=========================================================
* Paper Dashboard 2 - v2.0.1
=========================================================
* Product Page: https://www.creative-tim.com/product/paper-dashboard-2
* Copyright 2020 Creative Tim (https://www.creative-tim.com)
Coded by www.creative-tim.com
 =========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Paper Dashboard 2 by Creative Tim
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="assets/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="assets/demo/demo.css" rel="stylesheet" />

  
  
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.css"/>
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
      <div class="logo">
        <a href="https://www.creative-tim.com" class="simple-text logo-mini">
          <div class="logo-image-small">
            <img src="./assets/img/logo.png">
          </div>
          <!-- <p>CT</p> -->
        </a>
        <a href="https://www.creative-tim.com" class="simple-text logo-normal">
          Analisis Sentimen
          <!-- <div class="logo-image-big">
            <img src="../assets/img/logo-big.png">
          </div> -->
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class=" ">
            <a href="{{ url_for('index') }}">
              <i class="nc-icon nc-bank"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="">
            <a href="{{ url_for('scrapping') }}">
              <i class="nc-icon nc-zoom-split"></i>
              <p>Scrapping</p>
            </a>
          </li>
          <li >
            <a href="{{ url_for('preprocessing') }}">
              <i class="nc-icon nc-atom"></i>
              <p>Preprocessing</p>
            </a>
          </li>
          <li>
            <a href="{{ url_for('labelling') }}">
              <i class="nc-icon nc-tag-content"></i>
              <p>Labelling</p>
            </a>
          </li>
          <li>
            <a href="{{ url_for('klasifikasi') }}">
              <i class="nc-icon nc-chart-bar-32"></i>
              <p>Klasifikasi</p>
            </a>
          </li> 
          <li class="active">
            <a href="{{ url_for('predict') }}">
              <i class="nc-icon nc-support-17"></i>
              <p>Model Predict</p>
            </a>
          </li>    
        </ul>
      </div>
    </div>
    <div class="main-panel" style="height: 100vh;">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:;">Model Predict</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <!-- <form>
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Search...">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <i class="nc-icon nc-zoom-split"></i>
                  </div>
                </div>
              </div>
            </form> -->
            <!-- <ul class="navbar-nav">
              <li class="nav-item btn-rotate dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="nc-icon nc-bell-55"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Some Actions</span>
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
            </ul> -->
          </div>
        </div>
      </nav>

      <!-- End Navbar -->
      <div class="content">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Upload file .csv :</h5>
            <form method="POST", enctype="multipart/form-data">
              <div class="input-group">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="file"  name="file" aria-describedby="file">
                  <label class="custom-file-label" for="file">Select file</label>
                </div>
              </div>
              <input class="btn"  style="background-color: #ff6700;" type="submit" name="upload_file" id="upload_file"  value="Upload">
              <input class="btn"  style="background-color: #ff6700;" type="submit" name="predict" id="predict"  value="Model Predict">
            </form>

            {% with messages = get_flashed_messages(category_filter=["preprocessing_data"]) %}
                      {% if messages %}
                      <div class="alert alert-success" role="alert">
                        {{ messages[0] }}
                      </div>
                      {% endif %}                     
           {% endwith %}
           
            {% with messages = get_flashed_messages(category_filter=["upload_category"]) %}
                      {% if messages %}
                      <div class="alert alert-success" role="alert">
                        {{ messages[0] }}
                      </div>
                      {% endif %}                     
           {% endwith %}
                      
          </div>
        </div>
        
        <div class="card">
          
          <div class="card-body table-responsive">
            <!-- upload file -->
            <div class="d-flex mb-3" style="justify-content: space-between;">
              <h5 class="card-title p-2">Tabel Hasil Model Predict :</h5>
              <a class="btn btn-secondary" href="assets/files/Data Hasil Model Predict.csv" role="button" style="background-color: #ff6700;">Download</a>
            </div>
          
            <table class="table table-striped myTable" id="model-predict">
              <thead>
                <tr>
                  <th scope="col">No</th>
                  <th scope="col">Tweet</th>
                  <th scope="col">Sentimen</th>        
                </tr>
              </thead>
              <tbody>
                
                  {% set count = namespace(value=1) %}
                  {% for item in value %}
                    <tr>
                      <th scope="row">{{ count.value  }}</th>
                      <td>{{ item[0] }}</td>
                      <td>{{ item[1] }}</td>
                      <td>{{ item[2] }}</td>                
                    </tr>
                    {% set count.value = count.value + 1 %}
                  {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      {% with messages = get_flashed_messages(category_filter=["model_berhasil"]) %}
                      {% if messages %}
                      <div class="container">
                        <div class="card-group" style="display: flex; justify-content: space-between; grid-gap: 2em;">
                          <div class="card" style="border-radius: 10px;">
                            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                            <div class="card-body">
                              <h5 class="card-title">Diagram Batang</h5>
                              <hr>
                              <img src="assets/files/diagram-batang2.png"  style="width: 500px;height: 500px">
                            </div>
                          </div>
                          <div class="card" style="border-radius: 10px;">
                            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                            <div class="card-body">
                              <h5 class="card-title">Diagram Lingkaran</h5>
                              <hr>
                              
                              <img src="assets/files/diagram2.png"  style="width: 500px;height: 500px;object-fit:cover">
                            </div>
                          </div>
                      </div>
                      
                
                      <div class="card" style="border-radius: 10px; margin-top:30px">
                        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                        <div class="card-body">
                          <h5 class="card-title">Wordcloud</h5>
                          <hr>
                          <center><img src="assets/files/wordcloud2.png"  style="width: 500px;height: 500px;object-fit:cover"></center>
                        </div>
                      </div>
                      </div>
                      {% endif %}                     
           {% endwith %}
      
    
      
    </div>
  </div>

  <!--   Core JS Files   -->
  <script src="assets/js/core/jquery.min.js"></script>
  <script src="assets/js/core/popper.min.js"></script>
  <script src="assets/js/core/bootstrap.min.js"></script>
  <script src="assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="assets/js/paper-dashboard.min.js?v=2.0.1" type="text/javascript"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.js"></script>

  

<script>

// File Upload
  $(document).ready( function () {
    $('#model-predict').DataTable();
    $('.file-upload').file_upload();
} );

</script>

<script>
  
  document.querySelector('.custom-file-input').addEventListener('change', function (e) {
    var name = document.getElementById("file").files[0].name;
    var nextSibling = e.target.nextElementSibling
    nextSibling.innerText = name
  })
</script>
</body>


</html>